{% extends 'base.html' %}
{% block content %}
    <h1>{{ user_profile.first_name }}'s Dashboard</h1>
    <p>Latest Kudos:</p>
    <ul>
        {% for kudos in latest_kudos %}
            <li>
                <div>
                    <p>Date: {{ kudos.created_date }}</p>
                    <p>To: {{ kudos.receiver.userprofile }}</p>
                    <p>From: {{ kudos.sender.userprofile }}</p>
                    <p>Kudos: {{ kudos.message }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'kudos:kudos-list' %}">See all</a>
{% endblock content %}