<nav>
    App-lause 👏
    <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'kudos:kudos-list' %}">Kudos</a></li>
        <li><a href="{% url 'kudos:kudos-create' %}">Create</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'team' %}">Team</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>